<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <title>Описание</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div th:style="'text-align: center;'">
        <h3>Описание</h3>
    </div>
    <div class="container">
        <table class="table">
            <tr>
                <td>
                    <div>
                        <img th:src="@{/photos/{postId}(postId=${post.photos[0].id})}" class="w-100" alt="no image"
                             style="max-width:600px;">
                        <p class="p-2" th:text="${post.description}"></p>
                    </div>
                    <!--                    <caption>Изменение цены автомобиля</caption>-->
                    <h4>Изменение цены автомобиля</h4>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Начальная цена</th>
                            <th>Конечная цена</th>
                            <th>Дата изменения</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="price : ${post.priceHistories}">
                            <td th:text="${price.before}"></td>
                            <td th:text="${price.after}"></td>
                            <td th:text="${#dates.format(price.startTime, 'dd-MM-yyyy')}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-3" th:if="${!post.sales and user.email == post.user.email}">
                        <form th:action="@{/posts/{id}(id=${post.id})}" th:method="post">
                            <div class="col-3">
                                <button class="btn btn-warning w-40" type="submit">Продан</button>
                            </div>
                        </form>
                    </div>
                </td>
                <td style="width:300px">
                    <ul>
                        <li><b>Цена: </b><span
                                th:text="${post.priceHistories[post.priceHistories.size() - 1].after}"></span> РУБ
                        </li>
                        <li><b>Модель:</b> <span th:text="${post.car.name}"></span></li>
                        <li><b>Год:</b> <span th:text="${post.car.productionYear}"></span></li>
                        <li><b>Пробег:</b> <span th:text="${post.car.mileage}"></span></li>
                        <li><b>Цвет:</b> <span th:text="${post.car.color.name}"></span></li>
                        <li><b>Трансмиссия:</b> <span th:text="${post.car.transmission.name}"></span></li>
                        <li><b>Привод:</b> <span th:text="${post.car.wheelDrive.name}"></span></li>
                        <li><b>CarBody:</b> <span th:text="${post.car.carBody.name}"></span></li>
                        <li><b>Тип двигателя:</b> <span th:text="${post.car.engine.engineType.name}"></span></li>
                        <li><b>Объем двигателя:</b> <span th:text="${post.car.engine.engineValue}"></span> Cm3</li>
                        <li><b>Мощность двигателя:</b> <span th:text="${post.car.engine.power}"></span> Л/С</li>
                        <li><b>Собственник:</b> <span th:text="${post.user.name}"></span></li>
                        <li><b>Phone:</b> <span th:text="${post.user.phone}"></span></li>
                        <li><b>Автомобиль:</b><span th:text="' ' + (${post.sales ? 'продан' : 'в наличии'})"
                                                    th:class="${post.sales ? 'text-danger' : 'text-success'}"></span>
                        </li>

                    </ul>
                </td>
            </tr>
        </table>
    </div>
    </form>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>